<?xml version="1.0"?>

<launch>

    <arg name="camera" default="torso_cam3d_left" />

    <!-- start sensor-->
    <!--<include file="$(find openni2_launch)/launch/openni2.launch">
        <arg name="camera" default="$(arg camera)"/>
    </include>-->
    <!-- start nodlet manager -->
    <!-- would be nicer to ude the manager started by the openni driver, but this is not available when for example using bagfiles -->
    <node pkg="nodelet" type="nodelet" name="pc_left_converter_nodelet_manager"  args="manager"/>

    <!-- push pointcloud_to_laserscan nodelet into sensor's nodelet manager-->
    <node pkg="nodelet" type="nodelet" name="ipa_pointcloud_to_laserscan" args="load pointcloud_to_laserscan/ipa_pointcloud_to_laserscan_nodelet pc_left_converter_nodelet_manager">

        <remap from="cloud_in" to="$(arg camera)/depth_registered/points"/>
        <remap from="scan" to="$(arg camera)/scan"/>
        <rosparam>
            target_frame: base_link # torso_3_link # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.05
            min_height: 0.15 #-0.5 # -0.9
            max_height: 1.5 #0.5 # 0.6

            angle_min: -0.5708 # -M_PI/2
            angle_max: 0.7 # M_PI/2
            angle_increment: 0.008 #0.0174 # 1*M_PI/180.0
            scan_time: 0.003333
            range_min: 0.25
            range_max: 10.0
            use_inf: true

            use_outlier_filter: true
            max_noise_cluster_distance: 2.5
            cluster_break_distance: 0.3
            max_noise_cluster_size: 10

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 0
        </rosparam>


    </node>



</launch>
